{% extends "base.html" %}

{% block title %}Регистрация аккаунта{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<div class="login-main">
    <div class="login-container">
        <h2>Регистрация</h2>
        <input type="text" class="login-input" placeholder="Фамилия" required>
        <input type="text" class="login-input" placeholder="Имя" required>

        <div>
            <label class="light-text" for="has-patronymic">
                <input type="checkbox" id="has-patronymic"><span class="signup-text"> Есть отчество</span>
            </label>
        </div>

        <div id="patronymic-container" style="display: none;">
            <input type="text" class="login-input" placeholder="Отчество">
        </div>

        <script>
            const patronymicCheckbox = document.getElementById('has-patronymic');
            const patronymicContainer = document.getElementById('patronymic-container');

            patronymicCheckbox.addEventListener('change', function () {
                if (this.checked) {
                    patronymicContainer.style.display = 'block';
                } else {
                    patronymicContainer.style.display = 'none';
                }
            });
        </script>

        <input class="login-input" placeholder="Дата рождения" type="text" onfocus="this.type='date'"
            onblur="if(this.value==''){this.type='text'}" />

        <input type="text" class="login-input" placeholder="Телефон" required>
        <input type="email" class="login-input" placeholder="Электронная почта" required>
        <input type="password" class="login-input" placeholder="Пароль" required>
        <input type="password" class="login-input" placeholder="Подтвердите пароль" required>
        <button class="login-button">Зарегистрироваться</button>
        <div class="register-note">
            Если у вас есть аккаунт, можете <a href="/login">войти</a>.
        </div>
    </div>
</div>
{% endblock content %}